body {
	background: #303030;
	font-family: JetBrains Mono;
	text-decoration: white;
}

a {
	color: white;
}

.aligncenter {
	text-align: center;
}

.color-red {
	color: red;
}

.color-green {
	color: green;
}

.footerlink {
	color: black;
}

@font-face { font-family: JetBrains Mono; src: url('JetBrainsMono.ttf'); } 

#container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#header { 
	background: #303030;
	color: white;
	text-align: center;
}

#header h1 {
	margin: 0;
}
 
#content {
	padding: 10px;
}

#main {
	color: white;
}

#nav {
	color: white;
	text-align: center;
}

#nav .selected {
	font-weight: bold;
}

#nav ul {
	list-style-type: none;
	padding: 0;
}

#footer {
	clear: both;
	background-color: #A0A0A0;
	padding: 10px;
	
}
